@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  
}



body {
  background-image: url("https://cdn.glitch.com/e02eb9ac-84de-4d73-87eb-e7cefa490700%2Fvenus4.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
}

hr {
  border:none;
  border-top:3px dashed #000000;
  color:#fff;
  height:1px;
  width:80%;
}

.sticky {
  font-size: 1vw;
  font-style: italic;
  width: 100%;
  height: 70px;
  border: dashed 2px;
  padding: 20px 20px;
  position: fixed;
  top: 0%;
  opacity: 0;
  display: flex;
  justify-content: center;
  animation-name: stickyfade;
  animation-duration: 16s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

.sticky2 {
  font-size: 1vw;
  font-style: italic;
  width: 100%;
  height: 70px;
  border: dashed 2px;
  padding: 20px 20px;
  position: fixed;
  bottom: 0%;
  opacity: 0;
  display: flex;
  justify-content: center;
  animation-name: stickyfade;
  animation-duration: 16s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes stickyfade {
  from {opacity: 1;}
  to {opacity: 0;}
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen.content {
  align-items: flex-start;
  padding-top: 100px;
}

.inner {
  width: 100%;
}

h1 {
  color: #000;
  font-size: 10vw;
  font-family: "Lora", serif;
  font-weight: 400;0;
  margin: 0px;
  text-align: center;
  width: 100%;
  position: relative;
  pointer-events: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 50 300px;
}

.btn {
  border: none;
  color: white;
  height: 70px;
  width: 60px;
  padding: 10px 26px;
  font-size: 2vw;
  font-family: "anton";
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: help;
  transition: transform 1s;
  position: relative;
}

.btn:hover {
  transform: scale(1.1);
}

.btn.yes {
  background-color: limegreen;
  margin-right: 60px;
}
.btn.no {
  background-color: red;
}

.draggable {
  width: 300px;
  height: 300px;
  position: absolute !important;
  cursor: grab;
}

.size {
  width: 100%;
  height: 100%;
}


h2 {
  color: #000;
  font-size: 10vw;
  font-family: "Lora", serif;
  font-weight: 400;0;
  margin: 0;
  text-align: center;
}

h3 {
  color: #000;
  font-size: 5vw;
  font-family: "Lora", serif;
  font-weight: 400;0;
  margin: 0;
  text-align: center;
}

p {
  font-family: "Lora", serif;
  font-size: 3vw;
  font-weight: 0;
  color: #000;
  text-align: center;
  margin: 0 40 0 40;
}

a {
  color: red;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 10px 10px white;
}

